.practice {
    display: flex;
    align-items: center;
    justify-content: center;

    .practice-sidebar {
        width: 12rem;
        height: 100%;
    }

    .practice-body {
        height: 100%;
        width: calc(100% - 12rem);
    }

    .active-sidebar {
        background-color: #374151;
        color: #bfc3ca;
    }
}